body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:2560px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:82px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:82px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1103px;
  width:1px;
  height:16px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:92px;
  width:1438px;
  height:150px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:138px;
  width:59px;
  height:59px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:136px;
  width:145px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:142px;
  width:50px;
  height:50px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:2492px;
  width:161px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:250px;
  width:1438px;
  height:130px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:284px;
  width:97px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:307px;
  width:30px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:284px;
  width:97px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:307px;
  width:30px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:117px;
  width:800px;
  height:100px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:145px;
  width:73px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:94px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:268px;
  width:1px;
  height:93px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:137px;
  width:567px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:143px;
  width:50px;
  height:50px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:969px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:419px;
  width:1438px;
  height:969px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:800px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:419px;
  width:1439px;
  height:800px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:1305px;
  width:50px;
  height:50px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:1307px;
  width:169px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1305px;
  width:50px;
  height:50px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:1307px;
  width:191px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:75px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-right:0px;
  border-radius:50px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:1121px;
  width:293px;
  height:75px;
  opacity:0.8;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:1128px;
  width:181px;
  height:62px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:1121px;
  width:75px;
  height:75px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:1136px;
  width:37px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:772px;
  width:289px;
  height:94px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:9px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:820px;
  width:100px;
  height:4px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:9px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:820px;
  width:100px;
  height:4px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1245px;
  width:159px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1245px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1245px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1245px;
  width:96px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:1245px;
  width:168px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:1015px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1427px;
  width:1438px;
  height:1015px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:800px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1427px;
  width:1439px;
  height:800px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:2374px;
  width:50px;
  height:50px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:2376px;
  width:203px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:2374px;
  width:50px;
  height:50px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:2376px;
  width:231px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:75px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-right:0px;
  border-radius:50px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:2129px;
  width:293px;
  height:75px;
  opacity:0.8;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:2136px;
  width:209px;
  height:62px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:2129px;
  width:75px;
  height:75px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:2144px;
  width:37px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1780px;
  width:289px;
  height:94px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:9px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1828px;
  width:100px;
  height:4px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:9px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:1828px;
  width:100px;
  height:4px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:2253px;
  width:159px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:2253px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:2253px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:2253px;
  width:96px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:2253px;
  width:168px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:2253px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:2253px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:2253px;
  width:96px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:2253px;
  width:96px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:2309px;
  width:168px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:2309px;
  width:168px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:2309px;
  width:96px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:2309px;
  width:96px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:2309px;
  width:168px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:2309px;
  width:168px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
